.Header {
	text-align: left;
	padding: 12px 12px;
}

.Main {
	text-align: left;
	max-width: 1024px;
	padding: 12px 12px;
}

a {
	padding-left: 2px;
}

p + ul {
    margin-top: -12px;
}

p + ol {
    margin-top: -12px;
}